<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>'s web app</p>
    <img src="/images/steroidtocat.png" alt="Steroidtocat" width="400" height="500">
    <p> 
      <h2><a href="https://github.com/gidavies/simple-app" target="_blank">GitHub repo</a></p></h2>
      <img src="https://github.com/gidavies/simple-app/actions/workflows/deploy_azure.yml/badge.svg" alt="Azure Deployment" width="400" height="50">
    </body>
</html>
